Options -Indexes
Options All -Indexes
IndexIgnore *

#Header append X-FRAME-OPTIONS "DENY"

RewriteEngine On
RewriteCond %{HTTP} off
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule ^.well-known(.*)$ - [L,NC]

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule    ^login/?$    lib/auth/login.php    [NC,L]   
RewriteRule    ^register/?$    lib/auth/register.php    [NC,L] 

RewriteRule    ^admin/?$    admin/index.php    [NC,L] 
RewriteRule    ^admin/login/?$    admin/login_admin.php    [NC,L] 
RewriteRule    ^admin/logout/?$    admin/logout.php    [NC,L] 
RewriteRule    ^admin/manage-rooms/?$    admin/lib/room_management/list.php    [NC,L] 
RewriteRule    ^admin/manage-guests/?$    admin/lib/guest_management/list.php    [NC,L] 
RewriteRule    ^admin/manage-reservations/?$    admin/lib/reservation_management/list.php    [NC,L] 
RewriteRule    ^admin/manage-payments/?$    admin/lib/payment_management/list.php    [NC,L] 
RewriteRule    ^admin/manage-ratings/?$    admin/lib/rating_management/list.php    [NC,L] 

</IfModule>

<files config.php>
order allow,deny
deny from all
</files>

php_value memory_limit 512M
<Files 403.shtml>
order allow,deny
allow from all
</Files>